html {
  height: 100% !important;
}

body {
  height: 100%;
  font-family: sans-serif;
  font-size: 22px;
}

app-root {
  height: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid black;
  padding: 10px 20px;
}
