<div class="popup">
  <div class="popup-content">
    <button class="popup-content-close" type="button" (click)="onClose()">X</button>
    <div *ngIf="step === 0">
      <form class="request-form" (ngSubmit)="handleSubmit()">
        <label>
          ID квартиры
          <input type="text" [(ngModel)]="fields.apartmentId" name="apartmentId">
        </label>
        <label>
          Имя
          <input type="text" [(ngModel)]="fields.name" name="name">
        </label>
        <label>
          Телефон
          <input type="text" [(ngModel)]="fields.phone" name="phone">
        </label>
        <label>
          Email
          <input type="text" [(ngModel)]="fields.email" name="email">
        </label>
        <button class="request-form-submit">Отправить</button>
      </form>
    </div>
  <div *ngIf="step === 1" class="request-form-success">
    Отправлено!
  </div>
  </div>
</div>
