.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popup:after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .50);
  z-index: 0;
}

.popup-content {
  z-index: 1;
  background-color: white;
  padding: 30px 20px;
  border-radius: 5px;
  position: relative;
}

.request-form {
  display: flex;
  flex-direction: column;
}

.request-form > * {
  margin-bottom: 10px;
}

.popup-content-close {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}
