<div class="buildings">
  <table class="table">
    <tr>
      <th>ID Дома</th>
      <th>Адрес</th>
      <th>Кол-во квартир в доме</th>
    </tr>
    <tr *ngFor="let building of buildings">
      <td><a routerLink="/buildings/{{building.id}}">{{building.id}}</a></td>
      <td><a routerLink="/buildings/{{building.id}}">{{building.address}}</a></td>
      <td><a routerLink="/buildings/{{building.id}}">{{building.count_apartments}}</a></td>
    </tr>
  </table>
</div>
