<div class="building">
  <table class="table">
    <tr>
      <th>ID квартиры</th>
      <th>Площадь</th>
      <th></th>
    </tr>
    <tr *ngFor="let apartment of apartments">
      <td>{{apartment.id}}</td>
      <td>{{apartment.apartment_size}}</td>
      <td>
        <button
          class="apartment-request"
          (click)="handleButtonClick(apartment.id)"
        >
          Заказать просмотр
        </button>
      </td>
    </tr>
  </table>
</div>
<div class="request-form-container" *ngIf="showForm">
  <request-form
    [apartmentId]="selectedApartmentId"
    [onClose]="handleFormClose"
    [onSubmit]="handleSubmit"
  ></request-form>
</div>
